@inherits NFinal.View.RazorView<NFinalPlug.Controllers.IndexController_Model.Show>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
	<meta http-equiv="Cache-Control" content="no-cache">
</head>
<body>
    @Model.a
    @Model.cc2
    你在哪？ffffdddddd
</body>
</html>