@inherits NFinal.View.RazorView<$safeprojectname$.Controllers.IndexController_Model.Template>

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script>1</script>
    <title></title>
    <meta http-equiv="Cache-Control" content="no-cache">
</head>
<body>
    @Model.Message
</body>
</html>