﻿﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta http-equiv="Cache-Control" content="no-cache">
    <script src="/Scripts/jquery-1.11.2.min.js"></script>
</head>
<body>
    <script>
        $.getScript("/Scripts/Url.js?_" + Math.random(), function () {
            window.location.href = Url.@{@Model.app}_Public_Header();
        });
    </script>
</body>
</html>