<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net4" />
  <package id="JinianNet.JNTemplate.WithFieldSupport" version="1.3.1" targetFramework="net40" />
  <package id="LitJson" version="0.7.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net40" />
  <package id="Npgsql" version="2.2.7" targetFramework="net40" />
  <package id="Oracle.ManagedDataAccess" version="12.1.2400" targetFramework="net4" />
  <package id="RazorEngine" version="3.8.2" targetFramework="net40" />
  <package id="RazorGenerator.Templating" version="2.3.11" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.101.0" targetFramework="net40" />
  <package id="System.Web" version="1.0.1" targetFramework="net40" />
  <package id="YUICompressor.NET" version="2.7.0.0" targetFramework="net4" />
</packages>