@inherits NFinal.Razor.BasePage<NFinalRazorGeneratorTest.Sample.Model>
@using System.Text
<!DOCTYPE html>
@*这里是注释内容*@
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @if (Model.a == "")
    {
        @:writea @Model.b @:dfsdfsdf
    }

</body>

</html>