@inherits NFinal.View.RazorView<$safeprojectname$.Controllers.IndexController_Model.Html>

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script>1</script>
    <title>@Model.Title</title>
    <meta http-equiv="Cache-Control" content="no-cache">
</head>
<body>
    <h2>Message:@Model.Message</h2>
    <h2>站点名称:@Model.config.keyValueCache["siteName"]</h2>
    <h2>联系电话:@Model.config.keyValueCache["mobile"]</h2>
</body>
</html>