@inherits NFinal.Razor.BasePage<NFinalControllerGeneratorTest.DebugData>
﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <title></title>
    <script src="/Scripts/Url.js"></script>
</head>
<body>
    此文件负责跳转到CoreWebTest.Controllers.Index下的INN方法
    把此文件设为首页，即可调试对应的函数。
</body>
</html>
<script>
    @if (Model.formatData.actionUrlNames != null && Model.formatData.actionUrlNames.Length > 0)
    {
        foreach (string name in Model.formatData.actionUrlNames)
        {
            @:var @name = '@name';
        } 
        @:var urlString = Url.CoreWebTest_Controllers_Index.INN(@string.Join(",", Model.formatData.actionUrlNames));
        @:window.location.href = urlString;
    }
</script>